// 全局的 margin-* 样式
.loopMargin(@i) when (@i <9) {
    @name: (5 * @i);
    @val: (5px * @i);

    .margin-top-@{name} {
        margin-top: @val;
    }

    .margin-bottom-@{name} {
        margin-bottom: @val !important;
    }

    .margin-left-@{name} {
        margin-left: @val;
    }

    .margin-right-@{name} {
        margin-right: @val !important;
    }

    .margin-@{name} {
        margin: @val;
    }

    .loopMargin(@i+1);
}

.loopMargin(0);

// 全局的 padding-* 样式
.loopPadding(@i) when (@i <9) {
    @name: (5 * @i);
    @val: (5px * @i);

    .padding-top-@{name} {
        padding-top: @val;
    }

    .padding-bottom-@{name} {
        padding-bottom: @val !important;
    }

    .padding-left-@{name} {
        padding-left: @val;
    }

    .padding-right-@{name} {
        padding-right: @val !important;
    }

    .padding-@{name} {
        padding: @val;
    }

    .loopPadding(@i+1);
}

.loopPadding(0);

// 全局的 over-ellipsis-* 样式
.overEllipsis(@i) when (@i <3) {
    .over-ellipsis-@{i} {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: @i;
        overflow: hidden;
    }

    .overEllipsis(@i+1);
}

.overEllipsis(1);

.backround-white {
    background: white;
}

.flex {
    display: flex;
}

.flex-justifyContent-center {
    display: flex;
    justify-content: center;
}

.flex-align-center {
    display: flex !important;
    align-items: center;
}
